.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.progress-bar-container{
  width: 500px;
  height: 30px;
  border-radius: 20px;
  border:2px solid black;
  position: relative;
}

.progress-label{
  font-weight: 500;
  font-size: 22px;
  position:absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar{
  height:100%;
  border-radius: 20px;
  border-radius: 20px;
  background-color: greenyellow;
}